* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
}

.hero-section {
  
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: yellow;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 12px 30px;
    font-size: 1.1rem;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hero-content button:hover {
    background-color: #353426;
}

 @media (max-width: 768px) {
.hero-section {
    height: 70vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content button {
    padding: 8px 20px;
    font-size: 0.95rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
.hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .hero-content button {
    padding: 10px 25px;
    font-size: 1rem;
  }
}
@media (min-width: 1025px) {
.hero-content h1 {
    font-size: 3rem;}
    .hero-content p {
    font-size: 1.5rem;}
}
